@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --color-white: #e0e0e0;
  --color-green: #41b883;
  --color-dark-green: #369b6e;
  --color-dark-blue: #35495e;
}

body {
  background: var(--color-white);
  font-size: 16px;
}

ul {
  list-style: none;
}
